/*
 * Use this file to adjust the look and feel of your portlet. Some styles related to the "eid-simple-portlet" 
 * class are already defined in the Endeca Skin CSS files. The examples below can be uncommented to override
 * those styles. They will take precedence over the eid-simple-portlet styles in the Endeca Skins because these 
 * specify the DIV element in the selectors, and are thus more specific than the skin's selectors. 
 */
/*
div.eid-simple-portlet table th {
	background-color:  #A7C942;
	color: #fff;
	font-size:  1.4em;
	padding-top: 5px;
	padding-bottom: 4px;
}

div.eid-simple-portlet table td {
	font-size: 1.2em;
	border: 1px solid #98BF21;
	padding: 3px 7px 2px 7px;
}
*/