.endecaBulletChartPortletView .node {
	font-size: 10px;
}

.endecaBulletChartPortletView .node text {
	cursor: pointer;
	font-family: Arial, sans-serif;
}

.endecaBulletChartPortletView .node:hover {
	fill: #d62728 !important;
}

.endecaBulletChartPortletView .link {
	fill: none;
	stroke: #1f77b4;
	stroke-opacity: .4;
	pointer-events: none;
}

.endecaBulletChartPortletView .link.highlight {
	stroke: #1f77b4;
	stroke-opacity: 1;
	stroke-width: 2px;
}

.endecaBulletChartPortletView .link.source,.link.target {
	stroke-opacity: 1;
	stroke-width: 2px;
}

.endecaBulletChartPortletView .node.source-highlight {
	fill: #1f77b4;
}

.endecaBulletChartPortletView .node.target-highlight {
	fill: #1f77b4;
}

.endecaBulletChartPortletView .node.source {
	fill: #2ca02c;
}

.endecaBulletChartPortletView .node.target {
	fill: #d62728 !important;
}

.endecaBulletChartPortletView .link.source {
	stroke: #d62728;
}

.endecaBulletChartPortletView .link.target {
	stroke: #2ca02c;
}
